@keyframes fade {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* .app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* LEFT PANEL */

.left-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  max-width: 16vw;
  height: 100vh;
  border-right: 1px dashed black;
}

/* TERMINAL */
.terminal-base {
  width: 100% !important;
  /* min-width: 100px !important; */
  /* max-width: 400px !important; */
  height: 100% !important;
  min-height: 100px !important;
  max-height: 20vh !important;
  text-align: initial !important;
  border-bottom: 1px dashed #000 !important;
}

.terminal-base:hover {
  cursor: pointer;
}

.terminal-base * {
  font-family: 'OCR A EXT' !important;
  font-size: 13px !important;
}

.terminal-base > div {
  /* background-color: #fff !important;
  color: #000 !important;
  font-size: 12px !important; */
  padding-left: 5px !important;
}

.terminal-base input {
  /* background: transparent !important; */
  background-color:#ccff00;
  font-size: 13px !important;
  opacity: 1;
  animation: fade 1s linear forwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.terminal-base input:focus {
  background-color:#ccff00;
  animation: 0;
}

/* terminal screen */
.jCmZyP {

}

/* terminal padding */
.gAcuTz {
  padding: 5px 0px !important;
}

/* TREE */
.tree {
  width: 100%;
  height: 100%;
  overflow: auto;
  word-break: break-word;
  padding-bottom: 1em;
}

/* CENTER PANEL */
.center-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* GRID */
.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 20vh;
}

.square {
  width: 15vw;
  height: 100%;
  border-top: 1px dashed black;
  border-right: 1px dashed black;
  overflow: auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 50px;
  border-bottom: 1px dashed black;
  padding: 0.5em;
}

.header-title {
  position: absolute;
}

/* DESKTOP */
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.clock {
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: center;
}

.clock div {
  color: #000 !important;
}

/* DIGITS */
.digits-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -10;
}

.digits {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.digit {
  position: absolute;
  list-style: none;
  font-size: 1em;
  font-weight: normal;
}

/* DRAGGABLE */
.desktop-windows {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.window {
  width: 300px;
  height: 280px;
  min-width: 200px;
  min-height: 180px;
  max-width: 340px;
  max-height: 320px;
  border: 1px solid #000;
  box-shadow: 10px 10px 2px 1px rgb(115 115 115 / 24%);
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
}

.window-handle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.window:hover {
  cursor: grab;
}

.window-dragging:hover {
  cursor: grabbing;
}

.window-close {
  width: fit-content;
  text-align: center;
  padding: 0.3em;
  font-size: 20px;
  border-right: 1px solid #000;
}

.window-close:hover {
  cursor: pointer;
}

.window-name {
  width: 100%;
  font-size: 1em;
  text-align: center;
}

.window-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 88%;
  overflow: auto;
}

.window-content p {
  margin: 1em;
}

.window-content img {
  width: 100%;
  height: 100%;
}

#windows-me, #windows-images, #windows-shapes, #windows-software, #windows-poems, #windows-mobile {
  position: absolute;
}

.box {
  background: #fff;
  /* border: 1px solid #000; */
}

.no-br {
  border-right: 0px !important;
}

.no-bb {
  border-bottom: 0px !important;
}

.number {
  width: 1.5em;
  height: 1.5em;
  border-right: 1px dashed black;
  border-bottom: 1px dashed black;
  text-align: center;
  position: absolute;
}

/* IMAGES */
#windows-images .window-content {
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  min-height: 100%;
}

#profile {
  text-align: center;
}

#profile img {
  width: 80%;
}

#windows-me .window-content {
  width: 99%;
  margin: 0 auto;
}

#system-tools img {
  width: 299px;
  height: 243px;
}

#wave-function {
  position: relative;
  top: -6px;
  left: -3px;
  z-index: -10;
}

#wave-function img {
  width: 301px;
  height: 259px;
}

#reabracadabra img {
  position: relative;
  top: 20px;
  transform: scale(1.22);
}

#pcb-layout03 img {
  position: relative;
  top: 34px;
}

#pwm-motor img {
  position: relative;
  top: 30px;
  left: -10px;
  transform: scale(1.2);
}

#tree-concrete img {

}

#pigeon img {
  position: relative;
  width: 300px;
  height: 245px;
}

#mc-202 img {
  position: relative;
  top: 45px;
  transform: scale(0.9);
}

#rear-panel img {
  position: relative;
  top: 15px;
  transform: scale(0.9);
}

#din-patch img {
  position: relative;
  top: 35px;
}

#fast-tracker img {
  position: relative;
  top: 30px;
  transform: scale(1.3);
}

#sample-waveform img {
  position: relative;
  top: -25px;
  transform: scale(0.75);
}

#apple img {
  position: relative;
  top: 10px;
  transform: scale(0.8);
}

#windows-heaven img {
  position: relative;
  top: -10px;
}

/* SOFTWARE */
#windows-software .window-content {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#windows-software .window-content img {
  width: auto;
  height: auto;
}

.software-window {
  margin: 1em;
}

.software-link {
  display: block;
  margin-top: 1em;
}

.software-text {
  text-align: left;
}

.software-src {
  display: none;
}

.src-cache {
  display: none;
}

#flow img {
  width: 100px !important;
  height: 80px !important;
}

#signal img {
  width: 100px !important;
  height: 80px !important;
}

#osc img {
  width: 160px !important;
  height: 140px !important;
}

#op3 img {
  width: 80px !important;
  height: 80px !important;
}

#op3 .software-link {
  margin: 0 !important;
}

/* POEMS */
#windows-poems .window-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
}

.poems-window {
  width: 100%;
  height: 100%;
}

.poems-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#clic:hover {
  cursor: pointer !important;
}

#hollow {
  width: 50%;
  height: 50%;
}

#hollow .poems-text {
  overflow: hidden;
}

#highway {

}

#frog {

}

#buffer {

}

.poems-buffer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  z-index: -10;
  width: 50%;
  margin: 0 auto;
}

.poems-buffer div {
  display: flex;
  flex-direction: row;
}

#formes {

}

.poems-formes {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 88px;
  z-index: -10;
  width: 100%;
  margin: 0 auto;
}

.poems-formes div {
  display: flex;
  flex-direction: row;
}

#ochiba {

}

#ochiba p {
  margin: 0.5em;
}

#son {

}

#son p {
  margin: 0.5em;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 12vh;
  border-top: 1px dashed black;
  padding: 0.5em;
}

/* RIGHT PANEL */
.right-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  max-width: 16vw;
  height: 100vh;
  border-left: 1px dashed black;
}

/* AUDIO */
#audio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 10%;
  height: auto;
  /* max-height: 20vh; */
}

#audio-player {
  width: 100%;
}

.audio-browser-view {
  width: 100%;
}

#audio-inteface {
  display: none;
}

.track-name-marquee {
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* background-color: rgba(239,255,0, 0.32); */
  background-color: rgba(204,255,0, 0.7);
}

.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  margin: 1em;
  padding: 0 !important;
  background-color: #fbfbfb !important;
  box-shadow: none !important;
}

.rhap_main {
  margin-right: 3em;
}

.rhap_header {
  min-height: 15px;
}

.rhap_main-controls-button {
  /* margin: 0.2em !important; */
  margin: 0 0px !important;
  font-size: 26px !important;
  width: auto !important;
  height: auto !important;
}

.rhap_button-clear {
  color: rgba(0,0,0,0.2) !important;
  outline: none;
}

.rhap_additional-controls {
  display: none !important;
}

.rhap_play-pause-button {
  /* margin: 0px 0px 5px !important; */
  position: relative;
  top: -1px;
  font-size: 24px !important;
  width: 40px !important;
  height: 40px !important;
}

.rhap_volume-controls {
  justify-content: center !important;
}

.rhap_time {
  font-size: 13px !important;
}

.rhap_progress-container {
  outline: none;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 10px !important;
  height: 10px !important;
  margin-left: 0px !important;
  top: -2.5px !important;
  background: rgba(144,144,144,1.0) !important;;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 10px !important;
  height: 10px !important;
  margin-left: -6px;
  left: 0;
  top: -3px !important;
  background: rgba(144,144,144,1.0) !important;;
  opacity: 0.9;
  border-radius: 0px !important;
  box-shadow: rgb(134 134 134 / 50%) 0 0 3px;
  cursor: pointer;
}

.oscilloscope {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* AUDIO EFFECTS */

#audio-effects {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 10%;
  height: auto;
  border-top: 1px dashed #000;
  padding: 1em;
  overflow: hidden;
}

.audio-effects-row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  min-width: 10%;
  height: auto;
}

.audio-effects-title {
  margin-bottom: 0.5em;
}

.audio-fader {
  margin-top: 0.5em;
}

.audio-effects-label {
  display: block;
  width: min-content;
}

.audio-effects-input {

}

#audio-effects input:hover {
  cursor: pointer !important;
}

input {
  outline: none;
}

input[type='range']:hover {
  cursor: pointer !important;
}

input[type='range']:active {
  cursor: pointer !important;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #ddd;
  }

  input[type='range']:hover {
    cursor: pointer !important;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #ccff00;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-runnable-track:hover {
    cursor: pointer !important;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: rgba(144,144,144,1.0) !important;
    box-shadow: -80px 0 0 80px #ccff00;
  }

  input[type='range']::-webkit-slider-thumb:hover {
    cursor: pointer !important;
  }

  input[type='range']::-webkit-slider-thumb:active {
    cursor: pointer !important;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ccff00; 
}
input[type="range"]::-moz-range-track {  
  background-color: #ddd;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ccff00; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #ddd;
}


/* LOG */
.log {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 10%;
  /* max-width: 20vw; */
  height: 100%;
  border-top: 1px dashed #000;
  word-break: break-word;
}

.log div {
  margin: 0.6em;
}

.log-cache {
  display: none;
}

.log-info {
  display: none;
}

.log-data {
  width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  margin: 0 !important;
  padding: 1em;
  overflow: auto;
  border-bottom: 1px dashed #000;
}

.log-data-title {
  margin: 0 !important;
  margin-bottom: 1em !important;
  background-color: transparent !important;
}

.log-data div {
  /* background-color: rgba(239,255,0, 0.32); */
  background-color: rgba(204,255,0, 0.7);
}

.log-stream {
  height: 100%;
  padding: 1em;
  overflow: auto;
}

.log-stream-title {
  margin: 0 !important;
  margin-bottom: 1em !important;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-height: 768px) {

}

/* Extra small devices */
@media only screen and (min-width: 600px) and (max-height: 768px) {

}

@media only screen and (min-width: 550px) and (max-height: 420px) {

}

@media only screen and (max-width: 600px) {
  /* .sidebar {
    min-width: 25vw;
  }

  .line {
    height: 20vh;
  }

  .log {
    max-width: 15;
  } */
}

/* Mobile landscape mode */
@media (orientation: landscape) and (max-device-width : 960px) {
  #windows-mobile .window {
    visibility: visible;
    width: 200px;
    height: 180px;
    z-index: 999;
  }

  #windows-mobile .window-content {
    justify-content: center;
    align-items: center;
    height: 82%;
  }

  #windows-mobile a {
    color: #00f;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    display: none;
  }

  .footer {
    max-height: 50px;
  }

  .footer-title {
    display: none;
  }

  .oscilloscope {
    display: none;
  }
}

@media (max-width : 550px) {
  #windows-mobile .window {
    visibility: visible;
    width: 200px;
    height: 180px;
    z-index: 999;
  }

  #windows-mobile .window-content {
    justify-content: center;
    align-items: center;
    height: 82%;
  }

  #windows-mobile a {
    color: #00f;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    display: none;
  }

  .footer {
    max-height: 50px;
  }

  .footer-title {
    display: none;
  }

  .oscilloscope {
    display: none;
  }
}

/* Large screens height */
@media screen and (min-height: 960px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {

}

/* Extra large devices (large laptops and desktops, 1450px and up) */
@media only screen and (min-width: 1450px) {

}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {

}